fastapi
uvicorn[standard]
python-multipart
sqlalchemy[asyncio]
greenlet
aiosqlite
asyncpg
pydantic
pydantic-settings
python-dotenv
groq
chromadb
sentence-transformers
PyMuPDF
python-docx
openpyxl
pandas
watchdog
aiofiles
